<div id="question-form" class="form-inline">
  <%= simple_form_for @question, remote: true do |f| %>

    <%= f.input :content, label: false %>
    <%= f.input :difficulty_level, label: 'Difficulty' %>

    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
