<div id="question-form" class="form-inline">
  <%= f.simple_fields_for :questions, @category.questions.build, remote: true do |ff| %>

    <%= ff.input :content, label: false %>
    <%= ff.input :difficulty_level, label: 'Difficulty' %>

  <% end %>
</div>
