<ul class="list list-group">
  <% @questions.each do |question| %>
    <li class="list-group-item"><div id="question-container<%= question.id %>"><%= render partial: '/questions/show', locals: {question: question} %></div></li>
  <% end %>
</ul>
