<ul class="list">
  <% @questions.each do |question| %>
    <li><div id="question-container<%= question.id %>"><%= render partial: '/questions/show', locals: {question: question} %></div></li>
  <% end %>
</ul>
