<div class="mdl-cell mdl-cell--3-col"></div>
  <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--6-col">
    <thead>
      <tr>
        <th>Content</th>
        <th>% Correct</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><div id="question-container<%= question.id %>"><%= render partial: '/questions/show', locals: {question: question} %></div></td>
          <td><%= question.percent_correct %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="mdl-cell mdl-cell--3-col"></div>
