<table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp table questions">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric content">Content</th>
      <th class="mdl-data-table__cell--non-numeric answer">Answer</th>
      <th class="difficulty">Difficulty</th>
      <th class="correct-percentage">% Correct</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
        <tr id="question-container<%= question.id %>"><%= render partial: '/questions/show', locals: {question: question} %></tr>
    <% end %>
  </tbody>
</table>
