<% if group %>
  <h5>Notes
    <button type="button" class="add-button" id="addNotes"><i class="fa fa-plus"></i> ADD</button>
  </h5>
  <ul>
    <% if group.notes.length == 0 %>
      <li>
        No Notes Added
      </li>
    <% else %>
      <% group.notes.each do |n| %>
        <li id="note<%= n.id %>">
          <%= n.content %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_note_path(n), remote: true %>
          <%= link_to '<i class="fa fa-times"></i>'.html_safe, n, method: :delete, remote: true %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
