<div>
  <% @game_session.groups.each do |group| %>
    <span><%= group.name %> <%= group.score %></span>
    <% unless group == @game_session.groups.last %>
      <i class="fa fa-star"></i>
    <% end %>
  <% end %>
</div>
