
  <% @game_session.groups.each do |group| %>
    <li>
      <div class="mdl-badge" data-badge="" id='score-group<%= group.id %>'>
        <%= group.name %> -
        <%= group.score %>
      </div>
    </li>
  <% end %>
