<div class='score-board mdl-shadow--4dp'>
  <h4>Score</h4>
  <% @game_session.groups.each do |group| %>
    <li>

          <h6>
            <div id='score-group<%= group.id %>'>
            <%= group.name %> -
            <%= group.score %>
          </h6>
        </div>
    </li>
  <% end %>
</div>
