
<div class="btn-group" data-toggle="buttons">
  <% @game_session.groups.each do |group| %>
    <label class="btn btn-primary">
      <input type="checkbox" value="<%= group.id %>" autocomplete="off"> <%= group.name %>
    </label>
  <% end %>
</div>

<button class="btn btn-default">Send Competition Question</button>
