<div class="btn-group" id="group-choices">
  <% @game_session.groups.each do |group| %>
    <label class="btn btn-primary" id="<%= group.id %>">
      <input type="checkbox" value="<%= group.id %>" autocomplete="off"> <%= group.name %>
    </label>
  <% end %>
</div>
<div class="mdl-card__actions">
  <button id="send-competition-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Send Competition Question</button>
</div>