<div class="mdl-cell mdl-cell--2-col"></div>
<div class="btn-group mdl-cell mdl-cell--1-col" id="group-choices">
  <% @game_session.groups.each do |group| %>
    <label class="mdl-checkbox mdl-js-checkbox" id="<%= group.id %>">
      <input type="checkbox" class="mdl-checkbox__input" value="<%= group.id %>" autocomplete="off">
      <span class="mdl-checkbox__label"><%= group.name %></span>
    </label>
  <% end %>
</div>
