<% @game_session.groups.each do |group| %>
  <div class="group-link">
    <%= link_to "#{group.this_turn?} #{group.name}".html_safe, current_group_path(@game_session.id,group.id), class: "mdl-button mdl-js-button mdl-button--raised", remote: true %>
  </div>
<% end %>
