
<h3>Next Question</h3>
<div><%= @question.content %></div>
<div><button id="send-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Send Question</button></div>
<div id="competition-container"><%= render partial: 'competition_question' %></div>
