
<h3>Next Question</h3>
<div><%= @question.content %></div>
<div><button id="send-question" class="btn btn-default">Send Question</button></div>
<div id="competition-container"><%= render partial: 'competition_question' %></div>
