<div class="mdl-card__title mdl-card--border">
  <h3>Next Question</h3>
</div>
<div class="mdl-card__supporting-text">
  <div><%= @question.content %></div>
  <div class="mdl-card__actions">
  <button id="send-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Send Question
  </button>
  </div>
</div>
<div class=" mdl-card__supporting-text" id="competition-container">
  <%= render partial: 'competition_question' %>
</div>
