<ul>
  <% @game_session.students.order(:last_name).each do |student| %>
    <li>
      <%= student.full_name %>
      <%= link_to student.active?.html_safe, "/teacher_gameplay/#{@game_session.id}/active/#{student.id}", remote: true %>
    </li>
  <% end %>
</ul>
