<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <ul>
    <h3>Players</h3>
    <% @game_session.groups.each do |group| %>
      <%= group.name %>
      <% group.students.order(:last_name).each do |student| %>
        <li>
          <%= link_to student.active?(group).html_safe, active_path(@game_session, student), remote: true %>
          <%= student.full_name %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <ul> Legend
    <li><i class="fa fa-star-o">Active Player</i></li>
    <li><i class="fa fa-times">Inactive Player</i></li>
  </ul>
</div>
