<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <ul>
    <h3>Players</h3>
    <ul> Legend
      <li><i class="fa fa-star-o">&nbsp;Active Player</i></li>
      <li><i class="fa fa-times">&nbsp;Inactive Player</i></li>
    </ul>
    <% @game_session.groups.each do |group| %>
      <h5><%= group.name %></h5>
      <% group.students.order(:last_name).each do |student| %>
        <li>
          <%= link_to student.active?(group).html_safe, active_path(@game_session, student), remote: true %>
          <%= student.full_name %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
