<div>
  <% @game_session.groups.each do |group| %>
    <%= group.name %>:
    <span id="update_score<%= group.id %>" class="score">
      <%= link_to group.score, edit_score_path(@game_session, group), class: "mdl-button mdl-js-button mdl-button--accent", remote: true %>
    </span>
  <% end %>
</div>
