<div class="mdl-card__title">
  <h3 class="mdl-card__title-text">Scores</h3>
</div>
<div class="mdl-card__supporting-text">
  <% @game_session.groups.each do |group| %>
    <div>
      <%= group.name %>:
      <span id="update_score">
        <%= link_to group.score, "/teacher_gameplay/#{@game_session.id}/edit_score/#{group.id}", remote: true %>
      </span>
    </div>
  <% end %>
</div>
