<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Choose Winner
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_tag url: "/game_sessions/#{@game_session.id}/end_game" do %>
          <% @game_session.groups.each do |group| %>
            <%= label_tag group.name %>
            <%= radio_button_tag 'group_id', group.id %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
