<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Choose Winner
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for @game_session, url: "/game_sessions/#{@game_session.id}/end_game" do |f| %>
          <%= f.collection_radio_buttons :winning_group_id, @game_session.groups, :id, :name %>

          <%= f.submit %>
        <% end %>
      </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
