<div class="mdl-cell mdl-cell--12-col">
  <h3>New Student</h3>
</div>
<%= render 'form' %>

<%= link_to 'New Game Scenario', new_game_path, html_options = { class: "mdl-button mdl-js-button mdl-button--accent" } %>
