<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp card">
  <div>
    <h4><%= @student.first_name %> <%= @student.last_name %></h4>
  </div>
  <div>
    Games won: <%= @student.games_won %>
  </div>
  <div>
    <%= link_to 'Edit', edit_student_path(@student), html_options = { class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-margin button" } %>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col"></div>
