<%= f.simple_fields_for :groups do |ff| %>
  <%= ff.input :name, label: "Group Name"%>
  <%= ff.input :_destroy, as: :boolean, label: "Remove Group" %>

  <h3>Students</h3>
  <%= render partial: 'group_assignment_form', locals: {ff: ff} %>

<% end %>
