<div class="mdl-cell mdl-cell--3-col"></div>
<div class="mdl-cell mdl-cell--6-col">
  <h1><%= @group.name %></h1>
  <h3><%= @game_session.game.closing %></h3>
</div>
<div class="mdl-cell mdl-cell--3-col"></div>