<div class="win-page"></div>
<div class="mdl-cell mdl-cell--3-col"></div>
<div class="mdl-cell mdl-cell--6-col">
  <h1><%= @group.name %></h1>
  <h3><%= @game_session.game.closing %></h3>
  <iframe src="//giphy.com/embed/IjmMzurYulKEw" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
