<div class="mdl-cell mdl-cell--12-col">
  <h3 id='title'><%= @game_session.name %></h3>
  <div class="pw-help">Each team will sign in during the game using the passwords given below.</div>
</div>

<div class="mdl-cell mdl-cell--2-col mdl-shadow--4dp class-list">
  <ul class="groups-students" id="0">
    <% @students.each do |student| %>
      <li class="draggables" id="<%= student.id %>"><%= student.full_name %></li>
    <% end %>
  </ul>
  <div id="dragInfo"><h4>Drag and drop students to assign to a team.</h4></div>
</div>

<div class="mdl-cell mdl-cell--10-col">
  <div id="new-group-form-container">
    <%= render partial: 'new_group_form' %>
  </div>
</div>
<div id="footnotes_holder"></div>
