<div class="mdl-cell mdl-cell--12-col center">
  <h1 class="page-title">ClassQuest!</h1>
</div>
<div class="mdl-cell mdl-cell--12-col center">
  <h3 class="page-title">Gamify your classroom</h3>
</div>

<div class="landing-page"></div>

<div class="mdl-cell mdl-cell--3-col"></div>

<div class="mdl-cell mdl-cell--6-col pages-links">
  <%= link_to('Teacher Login', new_teacher_session_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored button")  %>
  <%= link_to "Student Login", student_gameplay_login_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored button" %>
</div>

<div class="mdl-cell mdl-cell--3-col"></div>

<div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--1-col">

</div>

<div class="mdl-cell mdl-cell--1-col"></div>