<div class="mdl-cell mdl-cell--12-col pages-title">
<h1>Class Quest</h1>
</div>

<div class="pages-img"></div>

<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--4-col pages-links">
  <div>
    <%= link_to('Teacher Login', new_teacher_session_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored")  %>
  </div>
  <div>
    <%= link_to "Student Login", student_gameplay_login_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col"></div>