<h1>Class Quest</h1>
<p>Page to route users to their Login</p>

<p>
<div>
  <%= link_to "Student Login", student_gameplay_login_path %>
</div>
</p>

<p>
<div>
 <%= link_to('Teacher Login', new_teacher_session_path)  %>
</div>
</p>
