<div class="mdl-cell mdl-cell--12-col center">
<h1>Class Quest</h1>
</div>

<div class="pages-img"></div>

<div class="mdl-cell mdl-cell--2-col"></div>
<div class="mdl-cell mdl-cell--8-col">
  <p>
    ClassQuest is a platform for teachers to bring an interactive and open-ended activity to their classrooms.  Students and teachers weave a story of adventure while reinforcing the subject material that they have been studying.
  </p>
  <p>
    Throughout the school year, teachers can add to their question base to reflect the essential information needed by the students.  These questions are used during the game to determine the outcome of each part of the story that the students contribute.  Teachers keep track of team supplies, notes, and active players.  During the game, each team can control their pieces, receive messages from the teacher, and see their team statistics and supplies.
  </p>
  <p>
    We hope for ClassQuest to have a positive impact on student motivation, subject retention, and student teacher relationships.
  </p>
</div>
<div class="mdl-cell mdl-cell--2-col"></div>

<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--4-col pages-links">
  <div>
    <%= link_to('Teacher Login', new_teacher_session_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored button")  %>
  </div>
  <div>
    <%= link_to "Student Login", student_gameplay_login_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored button" %>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col"></div>