<div id="storyModal" class="mdl-shadow--4dp">
  <p><%= @game_session.game.story %></p>
  <button type="button" class="story-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-dismiss="modal">Close</button>
</div>
