<div id="storyModal">
  <div class="modal-fg modal-card">
    <div><%= @game_session.game.story %></div>
    <button type="button" class="story-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-margin" data-dismiss="modal">Close</button>
  </div>
</div>
