<div class="mdl-card mdl-shadow--4dp" id="messageModal">
  <div class="mdl-card__supporting-text">
    <h3>Private Message</h3>
    <h4 id="message-text-container">
      <%= "message" %>
    </h4>
  </div>
    <button type="button" class="message-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-dismiss="modal">Close</button>
</div>
