<div id="questionModal">
  <div class="modal-fg modal-card">
    <h2 id="question-text"><%= "question" %></h2>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="answer-competition">Answer</button>
  </div>
</div>
