$off-white: #F0F0F0;
$light-white: #FDFDFD;
$gray:  #7D7F83;
$dark-gray: #525558;
$blue: #127ABD;
$carolina-blue:	#56A0D3;

$bg-color: $off-white;
$fg-color: $dark-gray;

$input-bg-color: $light-white;

$link-color: $carolina-blue;
$link-active-color: $blue;

$action-bg-color: $carolina-blue;
$action-fg-color: $light-white;
$action-bg-color-second: $blue;