// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-container.addQuestionsModal {
  background: #FFFFFF;
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 40rem;
  overflow: auto;
  padding: 2rem;
}

#form-container.addQuestionsModal.active {
  display: block;
}

#exitAddQuestions {
  float: right;
}

div#new-question-form > input {
  position: absolute;

}

.form-inline div {
  display: inline-block;
  float: left;
}
