// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// app/views/categories/index.html.erb

.categories-table th a {
  display: block;
  padding: 0.25rem 0;
  background: $button-color;
  color: $button-color-font;
  border-radius: 0.3rem;
  
  &:hover {
    background: $button-color-hover;
    color: $button-color-font;
    text-decoration: none;
  }
}

.categories-table td:first-child {
  text-align: left;
}

// app/views/categories/_questions_form.html.erb

#question-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

input.numeric.integer {
  width: 6rem;
}