// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-container.addQuestionsModal {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 80%;
  overflow: auto;
}

#form-container.addQuestionsModal.active {
  display: block;
}