// Place all the styles related to the class_gameplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mdl-badge {
  width: 100px;
  align-text: center;
}

.score-board {
  width: auto;
  align-text: center;
  position: relative;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
}

.score-group {
  align-text: center;
  position: relative;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
}
