$off-white: #FAFAFA;
$gray-light: #EEEEEE;
$gray:  #9E9E9E;
$gray-dark: #424242;
$blue-light:	#90CAF9;
$blue: #2196F3;
$blue-dark: #1565C0;

$bg-color: $off-white;
$fg-color: $gray-dark;
$bg-color-hover: $gray-light;

$link-color: $blue-dark;
$link-color-active: $blue;

$button-color: $blue-dark;
$button-color-font: $off-white;
$button-color-hover: $blue;