@import 'z_colors';

h1, h2, h3, h4,
h5, h6 {
  text-align: center;
}

.notice,
.alert {
  text-align: center;
}

form {
  text-align: center;
  
  & ul {
    text-align: left;
  }
}

body > .mdl-grid > a {
  text-align: center;
  margin: 0 auto;
}