@import 'z_colors';

h1, h2, h3, h4,
h5, h6 {
  text-align: center;
}

.alert,
.notice {
  text-align: center;
}

// .list li:not(:last-child) {
//   border-bottom: 1px solid $fg-color;
// }

// form,
// table {
//   position: relative;
//   margin: 0 auto 4rem auto;
// }

// form {
//   max-width: 40rem;
// }

// tbody tr:not(:last-child) {
//   border-bottom: 1px solid $fg-color;
// }

// input[type="submit"] {
//   display: block;
//   margin: 0 auto;
// }

// td, th {
//   padding: 0.25em 1em;
//   text-align: center;
//   vertical-align: middle;
// }

// .logout {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 0;
// }

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.06;
}

.groups-students {
  border: 1px solid black;
  min-height: 5rem;
}

.group-container {
  border: 1px solid black;
}

.student-list {
  position: fixed;
  right: 2rem;
}