body {
  background: #FAFAFA;
}

h1, h2, h3, h4,
h5, h6 {
  text-align: center;
}

.form-padding {
  padding: 0 4rem;
}

.icon {
  position: absolute;
  z-index: 100;
}

.notice,
.alert {
  text-align: center;
}

form {
  & ul {
    text-align: left;
  }
}

ul {
  padding: 0.5rem 1rem;
}

.page-content > .mdl-grid > a {
  text-align: center;
  margin: 0 auto;
}

.map {
  position: relative;
  max-width: 70rem;
  min-width: 70rem;
}

#map-container {
  position: absolute;
  left: 0;
  top: 7rem;
}

.glow {
    text-shadow: 0 0 1rem yellow;
}
