// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.available-games td:nth-child(2),
.available-games th:nth-child(2) {
  text-align: center;
}

.current-games td:nth-child(2),
.current-games th:nth-child(2) {
  text-align: center;
}

.game-card {
  position: relative;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 0 auto;
}

.preview {
  height: 12rem;
}

.game-container {
  overflow: scroll;
  text-align: center;
}

.remove-game {
  position: absolute;
  right: 1.5rem;
}