// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.available-games td:nth-child(2),
.available-games th:nth-child(2) {
  text-align: center;
}

.current-games td:nth-child(2),
.current-games th:nth-child(2) {
  text-align: center;
}

.preview {
  height: 200px;

}

.game-container {
  overflow: scroll;
  text-align: center;
}

.remove-game {
  float: right;
}

.title {
  text-align: center;
}
