// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'z_colors';

#notesModal {
  background-color: $modal-bg;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2rem;
  z-index: 90;
  top: 0;
  left: 0;
}

#notesModal.active {
  display: block;
}
