// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'z_colors';

// app/views/pages/home.html.erb

.page-title {
  font-size: 5em;
  font-weight: bold;
  margin: 4rem 0 2rem 0;
}

.page-subtitle {
  font-size: 3em;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
}

.landing-page {
  background: image-url('landing.jpeg');
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -50;
  -webkit-filter: blur(5px) grayscale(60%);
  -moz-filter: blur(5px) grayscale(60%);
  -o-filter: blur(5px) grayscale(60%);
  -ms-filter: blur(5px) grayscale(60%);
  filter: blur(5px) grayscale(60%);
}

.pages-links {
  text-align: center;
  
  & a {
    margin: 0 1rem;
  }
}

.page-wording-wrapper {
  margin-top: 3rem;
}

.page-wording {
  color: #F5F5F5;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.2em;
}