// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// app/views/pages/home.html.erb

.page-title {
  font-weight: bold;
}

.pages-img {
  background-image: url("black-and-white-game-match-chess.jpg");
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  position: fixed;
  z-index: -100;
  opacity: 0.1;
}

.pages-links {
  text-align: center;
  
  & a {
    margin: 0 1rem;
  }
}