// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// app/views/pages/home.html.erb

.page-title {
  font-weight: bold;
}

.landing-page {
  background: url('landing.jpeg');
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -50;
  -webkit-filter: blur(9px);
  -moz-filter: blur(9px);
  -o-filter: blur(9px);
  -ms-filter: blur(9px);
  filter: blur(9px);
}

.pages-links {
  text-align: center;
  
  & a {
    margin: 0 1rem;
  }
}