// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions {
  table-layout: fixed;
  width: 100%;
}

.questions td {
  word-wrap: break-word;
  overflow: auto;
}


.questions .difficulty,
.questions .correct-percentage {
  width: 10rem;
}