// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// app/view/students/index.html.erb

.students-table th:nth-child(3) {
  text-align: center;
  
  & a {
    display: block;
    padding: 0.25rem 0;
    background: $button-color;
    color: $button-color-font;
    border-radius: 0.3rem;
    
    &:hover {
      background: $button-color-hover;
      color: $button-color-font;
      text-decoration: none;
    }
  }
}

.students-table td:nth-child(2) {
  text-align: left;
}