// Place all the styles related to the Student_gameplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// app/views/student_gameplay.html.erb
a.nav-expander {
  background: none repeat scroll 0 0 #617D8A;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 6rem;
  z-index: 12;
}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
  right: 16rem;
  width: 10rem;
}

nav.student-stats {
  background: #617D8A;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20rem;
  font-size: 1em;
  top: 0;
  width: 20rem;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.3s ease-in-out 0s;
}

#nav-close {
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1em;
  padding: 1rem;
}

.stat-main-content {
  margin-top: 4rem;
  color: white;
  padding: 0 2rem;
}

.stat-title {
  font-size: 1.6em;
}


#questionModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#questionModal.active {
  display: block;
}
