// Place all the styles related to the teacher_gameplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'z_colors';

div.column-1 {
  overflow: auto;
  top: 0;
  bottom: 0;
  margin-left: -8px;
  background: #354152;
  color: #FFFFFF;

  & a {
    color: #FFFFFF;

  }
}

div.column-2 {
  overflow: auto;
  height: 100%;
}

div.column-3 {
  overflow: auto;
  height: 50rem;
}

div.teacher-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.bookmark {
  margin: 1rem 0;
}

.group-link,
.bookmark {
  padding: 0.5rem 2rem;

  &.active-group {
    background: $body;

    & a {
      color: $blue-primary;
    }
  }
}

span.group-name {
  font-size: 1.2em;
  text-transform: uppercase;
}

#group-choices {
  margin: 2rem 0;
}

#current-group {
  margin: 2rem 0;
}

.edit-score-container {
  width: 5rem;
}

button.correct {
  background: #1976D2;
  color: #FFFFFF;
}

button#send-competition-question {
  position: absolute;
  right: 0;
}

.next-turn {
  float: right;
}

#winnerModal {
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#winnerModal.active {
  display: block;
}

#suppliesModal {
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#suppliesModal.active {
  display: block;
}

#answerButtonsModal {
  text-align: center;
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#answerButtonsModal.active {
  display: block;
}

#button-correct {
  background: #1976D2;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

#button-incorrect {
  background: #E65100;
  color: #FFFFFF;
}

#sendMessageModal {
  text-align: center;
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#sendMessageModal.active {
  display: block;
}

#sendMessageModal select {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
}

#sendMessageModal form div {
  display: block;
  width: 100%;
}

form.edit_group {
  display: inline-block;
  width: 13rem;
}
