// Place all the styles related to the teacher_gameplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'z_colors';

#game-header {
  display: inline-block;
  font-size: 2em;
  padding: 1rem;
}

div.column-1 {
  position: fixed;
  top: 10rem;
  bottom: 0;
  left: 0;
  width: 18%;
  overflow: auto;
  margin-left: -8px;
  background: $gray-blue;
  color: #FFFFFF;
  border-radius: 0 0.5rem 0 0;

  & a {
    display: block;
    color: #FFFFFF;
    padding: 0.5rem 2rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.group-link.active-group {
  background: $body;

  & a {
    color: $blue-primary;
  }
}

div.column-1 li {
  margin-left: 4rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

div.column-2 {
  position: fixed;
  top: 10rem;
  bottom: 0;
  left: 20%;
  width: 35%;
  overflow: auto;
  padding: 0 2rem;
}

div.column-3 {
  position: fixed;
  top: 10rem;
  bottom: 0;
  left: 60%;
  width: 35%;
  overflow: auto;
  padding: 0 2rem;
}

div#roster {
  border-top: 1px solid $gray-blue;
  margin-top: 2rem;
}

.bookmark {
  margin: 1rem 0;
  padding: 0.5rem 2rem;
}

.group-nav-links {
  text-align: center;
}

span.group-name {
  font-size: 1.2em;
  text-transform: uppercase;
}

#group-choices {
  margin: 2rem 0;
}

#current-group {
  margin: 2rem 0;
}

.edit-score-container {
  width: 5rem;
}

button.correct {
  background: $correct-green;
}

button#send-competition-question {
  position: absolute;
  right: 0;
}

#winnerModal {
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#winnerModal.active {
  display: block;
}

#suppliesModal {
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#suppliesModal.active {
  display: block;
}

#answerButtonsModal {
  text-align: center;
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#answerButtonsModal.active {
  display: block;
}

#close-answer-buttons {
  background-color: $blue-primary;
  color: white;
  display: block;
  float: right;
}

#button-correct {
  background: $correct-green;
  color: #FFFFFF;
  margin-bottom: 2rem;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

#button-incorrect {
  background: #B50421;
  color: #FFFFFF;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

#sendMessageModal {
  text-align: center;
  background-color: $modal-bg;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

#sendMessageModal.active {
  display: block;
}

#sendMessageModal select {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
}

#sendMessageModal form div {
  display: block;
  width: 100%;
}

form.edit_group {
  display: inline-block;
  width: 13rem;
}

.add-button {
  background-color: $blue-primary;
  color: white;
  vertical-align: middle;
  padding: 6px;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

#group-links {
  text-align: right;
}

#group-links ul {
  margin-top: 3rem;
}

.roster-row {
  padding-right: 40px;
}

#legend {
  padding-left: 85px;
}

#players {
  margin-top: 0;
}

.skip-question {
  text-transform: uppercase;
  font-size: 14px;
  background-color: $blue-primary;
  color: white;
  vertical-align: middle;
  padding: 6px;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}
