<h1>Available Categories</h1>

<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to "#{category.name}", category %></td>
        <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr><td><%= link_to 'Add <i class="fa fa-plus"></i>'.html_safe, new_category_path %></td></tr>
  </tbody>
</table>
