<div class="mdl-cell mdl-cell--12-col">
  <h3 id="category-name">
    <%= @category.name %>
  </h3>
  <div><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_path(@category), remote: true %></div>
</div>

<div id="question-list-container"><%= render partial: '/questions/index' %></div>

<button id="show-question-form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add Questions</button>

<%= render partial: 'form' %>
