<h3 id="category-name"><%= @category.name %></h3><div><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_path(@category), remote: true %></div>

<div id="question-list-container"><%= render partial: '/questions/index' %></div>

<div id="form-container"><%= render partial: 'form' %></div>
