<div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--10-col">
  <h3 id="category-name">
    <%= @category.name %>
  </h3>
  <h5 id="category-name-edit"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_path(@category), remote: true %></h5>
</div>
<div class="mdl-cell mdl-cell--1-col"></div>

<div class="mdl-cell mdl-cell--1-col"></div>
  <div id="question-list-container">
    <%= render partial: '/questions/index' %>
  </div>
<div class="mdl-cell mdl-cell--1-col"></div>

<div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--10-col">
  <button id="show-question-form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add Questions</button>
</div>
<div class="mdl-cell mdl-cell--1-col"></div>

<div id="question-form-container"><%= render partial: 'form' %></div>
